<section class="orders-show">
  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order, <%= @order.email %>!</h4>
  </div>

  <% if @order.line_items.empty? %>
    <div class="alert alert-info">
      <p>This order has no items.</p>
      <p><%= link_to 'Continue shopping', root_path %></p>
    </div>
  <% else %>
    <div class="panel panel-default items">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="2">Product</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <% @order.line_items.each do |line_item| %>
            <%= render partial: 'line_item', locals: { 
              product: line_item.product, 
              quantity: line_item.quantity 
            } %>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="4">TOTAL:</th>
            <th><%= humanized_money_with_symbol @order.total_price %></th>
          </tr>
        </tfoot>
      </table>
    </div>

    <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>
  <% end %>
</section>